@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, rgb(27, 100, 100), rgb(36, 94, 138));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.navbar {
  width: 100%;
  height: max-content;
  padding: 20px;
  display: flex;
  margin: 0 auto;
  border-bottom: 2px solid black;
  align-content: center;
}

.navbar h1 {
  font-family: 'Dancing Script', cursive;
  margin: auto;
  font-size: 60px;
  color: white;
}

.navbar h1:hover {
  cursor: pointer;
}

.fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
}

#algo-title {
  color: rgb(255, 255, 255);
  font-size: 35px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

#text-input {
  width: 80vw;
  height: 80px;
  padding: 10px;
  margin-top: 15px;
  font-size: 25px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.sha-type-change {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}


.algo-type-label {
  display: flex;
  align-items: center;
}

.algo-type-label span {
  font-size: 5vmin;
  color: rgb(255, 255, 255);
}

.algo-type-label:hover {
  cursor: pointer;
}

input[type="radio"] {
  height: 3vh;
  width: 3vw;
}

input[type="radio"]:hover {
  cursor: pointer;
}

.result-container {
  width: 90%;
  margin-top: 30px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  height: max-content;
  overflow-wrap: break-word;
}

.result-container h1 {
  font-size: 25px;
}

@media screen and (min-width: 1100px) {

  #text-input {
    width: 40vw;
    height: 20vh;
  }

  .sha-type-change {
    width: 50%;
  }
}

@media screen and (min-width: 500px) {

  #text-input {
    width: 60vw;
    height: 120px;
  }

  .algo-type-label span {
    font-size: 3vmin;
  }

  input[type="radio"] {
    height: 2vh;
    width: 2vw;
  }

  .result-container h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  .navbar h1 {
    font-size: 40px;
  }
}